node_modules
bin
yarn-error*
build
.env
devices.json
t.ts 
config/*
credential.json
devices.json
.vscode
.tuya
.matter
tuya2matter/app/.matter
tuya2matter/app/.tuya
tuya2matter/app/node_modules
tuya2matter/app/build
tuya2matter/app/.env
tuya2matter/app/bin
